.homeNav {
    display: flex;
    align-items: center;
}

.homeNav__left > svg {
    font-size: 35px;
    color: var(--main-color);
}

.mobileIcon {
    display: none;
}

.mobileIcon > svg {
    font-size: 25px;
}
.homeNav__right {
   margin-left: 50px;
}

.homeNav__right >  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--medium);
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

.homeNav__right > a:hover {
    color: var(--main-color);
}

@media only screen and ( max-width: 968px ) {
    .homeNav {
        justify-content: space-between;
    }
    .homeNav__right {
        display: none;
    }
    .mobileIcon {
        display: block;
    }
}