.homeNav {
    display: flex;
    align-items: center;
}

.homeNav__left > svg {
    font-size: 35px;
    color: var(--main-color);
}

.mobileIcon {
    display: none;
}

.mobileIcon > svg {
    font-size: 25px;
}
.homeNav__right {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.homeNav__right > li {
    list-style: none;
    margin-right: 50px;
}

.homeNav__right > li > a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--medium);
    font-size: 25px;
}

@media only screen and ( max-width: 968px ) {
    .homeNav {
        justify-content: space-between;
    }
    .homeNav__right {
        display: none;
    }
    .mobileIcon {
        display: block;
    }
}