.sidebar {
    background-color: var(--main-color);
    width: 20%;
    height: 100vh;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar__logo > h2 {
    color: #fff;
    font-weight: var(--semi-bold);
}

.sidebar__logo > svg {
    font-size: 25px;
    margin-right: 10px;
    color: #fff;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.sidebar__menu > a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--medium);
    font-size: 20px;
    margin-bottom: 18px;
    transition: all 0.3s ease-in-out;
}

.sidebar__menu > a:hover {
    color: #fff;
}


@media only screen and ( max-width: 580px ) {
    .sidebar {
        display: none;
    }
}