.wrapper {
    background-color: #000;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconsContainer {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuContainer > li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.search {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: transparent;
    border: none;
    padding: 10px;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    border: 1px solid #333;
    padding: 10px 17px;
    margin-right: 20px;
    letter-spacing: .11em;
    border-radius: 3px;
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: #333;
}

.searchBtn {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
}

.searchBtn > svg {
    transition: color .3s ease-in-out;
}

.searchBtn:hover > svg {
    color: var(--main)
}

@media only screen and ( max-width: 768px ) {
    .iconsContainer {
        display: none;
    }
    .menu {
        display: block;
        width: 15%;
    }

    .menu > svg {
        color: #fff;
        font-size: 50px;
    }
}

@media only screen and ( max-width: 580px ) {
    .wrapper {
        width: 100%;
        flex-direction: row-reverse;
    }
    .logo > img {
        width: 180px;
    }
    .search {
        display: none;
    }
}