.wrapper {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
}

.wrapper > svg {
    transition: color .3s ease-in-out;
}

.wrapper:hover > svg {
    color: var(--main)
}


@media only screen and ( max-width: 768px ) {
    .wrapper {
        display: none;
    }
}