.wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

@media only screen and ( max-width: 768px ) {
    .wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
}