.wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and ( max-width: 768px ) {
    .wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
}