.products__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.products__heading > h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.products__menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.products__menu > li {
    list-style: none;
    margin-right: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: var(--medium);
    color: var(--secondary);
    cursor: pointer;
}

.products__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

@media only screen and ( max-width: 780px ) {
    .products__body {
        padding: 0;
        justify-content: center;
    }
}