.navbarToggle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.navbarToggle > a {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
}
.cart {
    display: flex;
    align-items: center;
}
.cart > svg {
    margin-left: 10px;
}